In [ ]:
def new_customer(engine):

    country = input("Pays: ")
    country_df = pd.read_sql_query("select country_id from country where country = '%s';" %(country), engine)
    if country_df.empty:
        engine.execute('insert into country (country) values ("%s");' %(country))
        country_df = pd.read_sql_query("select country_id from country where country = '%s';" %(country), engine)

    city = input("Ville: ")
    city_df = pd.read_sql_query("select city_id from city where city = '%s';" %(city), engine)
    if city_df.empty:
        engine.execute('insert into city (city, country_id) values ("%s",%s);' %(city, int(country_df["country_id"][0])))
        city_df = pd.read_sql_query("select city_id from city where city = '%s';" %(city), engine)
address = input("Adresse: ")
    address2 = input("Adresse 2: ")
    district = input("District: ")
    postal_code = input("Code Postal: ")
    phone = input("Numéro de téléphone: ")
    location = "ST_GeomFromWKB(X'0101000000000000000000F03F000000000000F03F')"
    address_df = pd.read_sql_query("select address_id from address where address = '%s';" %(address), engine)
    if address_df.empty:
        engine.execute('insert into address (address, address2, district, city_id, postal_code, phone) values ("%s","%s","%s",%s,"%s","%s",%s);' %(address, address2, district, int(city_df["city_id"][0]), postal_code, phone, location))
    address_df = pd.read_sql_query("select address_id from address where address = '%s';" %(address), engine)

    store = int(input("Store (1 ou 2): "))
    first_name = input("Prénom: ")
    last_name = input("Nom: ")
    email = input("Email: ")
    customer_df = pd.read_sql_query("select customer_id from customer where email= '%s';" %(email), engine)
    if customer_df.empty:
        engine.execute('insert into customer (store_id, first_name, last_name, email, address_id) values (%s,"%s","%s","%s",%s);' %(store, first_name, last_name, email, int(address_df["address_id"][0])))
        customer_df = pd.read_sql_query("select customer_id from customer where email= '%s';" %(email), engine)

new_customer(engine)